.navigation-side {
    width: 256px;
    height: 100vh;
    border-radius: 16px 16px 16px 16px; 
    border: 1px solid #D9D9D9;
    background: #FFF; 
    float: left;
    box-sizing: border-box;
    text-align: center; /* Center the content horizontally */
}

.nav-header {
    height: 72px;
    background-color: #fafafa;
    border-radius: 16px 16px 0px 0px; 
    display: flex;
    padding: 12px 48px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch; 
}

.logo {
    height: 48px;
}

.nav-body {
    padding: 24px;
    border-top: 1px solid #5C5E64;
    border-bottom: 1px solid #5C5E64;
}

.nav-title {
    display: flex;
    padding: 0px 12px;
    align-items: flex-start;
    gap: 8px;
    color: #5C5E64;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 120% */
    letter-spacing: 0.4px;
    text-transform: uppercase; 
    align-self: stretch; 
}

.serial-interface {
    width: 80%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    padding: 12px;
}

.configuration {
    width: 800px;
    height: auto;
    border: 1px solid #5C5E64;
    border-radius: 16px;
    display: flex;
    padding: 10px;
}

.input-field {
    padding: 12px;
}

.connect-button {
    height: 24px;
    width: 78px;
    align-self: center;
}

.send-button {
    height: 24px;
    width: 120px;
    align-self: center;
    margin-left: 10px;
}

.command {
    width: 800px;
    height: auto;
    border: 1px solid #5C5E64;
    border-radius: 16px;
    padding: 10px;
    margin-top: 10px;
}

.command-spec {
    display: flex;
}

.data-field {
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.data-input {
    height: 100%;
}

.nav-serial-dashboard {
    display: flex; 
    width: 100%;
    padding: 10px 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border: none;
    background-color: transparent;
}

.button-label {
    color: #5C5E64;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
}

.material-icons-outlined {
    width: 20px;
    height: 20px;
    color: #5C5E64;
}

.nav-serial-dashboard:hover {
    background-color: #3498db; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }